# Python
__pycache__
.venv

# PyCharm
.idea/

# VSCode
.vscode

# Pytest folders
.pytest_cache
src/netcdf_explorer/logs
reports

# Node.js
node_modules

# Tailwind CSS & Flowbite
static/src/output.css