<!doctype html>
<html>
  <head>
    <title>NetCDF Explorer</title>
    <link rel="icon" href="{{ url_for('static', filename='blue-block_100x100.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
  </head>
  <body>
    <div>
      <div class="max-w-full items-center mx-auto p-4 pt-8">
        <a href="localhost:5000" class="flex items-center space-x-3 rtl:space-x-reverse w-fit mx-auto">
            <img src="static/blue-block_100x100.png" class="h-12" alt="NetCDF Explorer Logo" />
            <span class="self-center text-4xl font-serif whitespace-nowrap">NetCDF Explorer</span>
        </a>
      </div>
    </div>
    <div>
      <p>Please select the .nc file to explore:</p>
      <form class="max-w-lg mx-auto">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Upload file</label>
        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file">
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">A profile picture is useful to confirm your are logged into your account</div>
      </form>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="netcdf_file" accept=".nc" required><br><br>
        <input type="submit" value="Upload">
      </form>
      {% block main_content %}
        <div></div>
      {% endblock %}
    </div>
    <!-- TODO: Pull Flowbite from node_modules/ instead so that we can eventually dockerize the app -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
