{% extends "index.html.jinja" %}
{% block main_content %}
    <div id="summary"
         class="flex flex-col w-3/4 h-1/4 bg-gray-500 border-blue-500 border-width-3 items-center justify-center rounded-2xl">
        {% if summary %}
            {% if file_name %}
                <h1 class="text-2xl font-serif mt-7 mb-7">{{ file_name }}{% if file_size %} ({{ file_size }}){% endif %}</h1>
            {% else %}
                <em>
                    <h3>Unknown File</h3>
                </em>
            {% endif %}
            <pre class="mb-6">{{ summary | safe }}</pre>
        {% else %}
            <h3>Unable to Generate Summary</h3>
        {% endif %}
    </div>
{% endblock %}